<!DOCTYPE html>
<html>
<head>
    <title>Simple Weather App</title>
</head>
<body>
    <h1>Weather App</h1>
    <p>Enter a city name to get the weather:</p>

    <div class="form">
        <form action="/weatherapp" method="POST">
            <input type="text" id="city" name="city" placeholder="Enter city name">
            <input type="text" id="units" name="units" placeholder="Enter Units">
            <input type="text" id="appid" name="appid" placeholder="Enter App ID">
            <input type="submit" value="Search">
        </form>
    </div>

</body>
</html>
